/grumphp.yml export-ignore
/hooks export-ignore
/logs export-ignore
/tests/fixtures export-ignore
/.travis.yml export-ignore
/acquia-pipelines.yml export-ignore
/behat.yml export-ignore
/drush.yml export-ignore
/phpunit.xml export-ignore
/releases.yml export-ignore
/settings.local.php export-ignore
/*.sh export-ignore
