drush.makefile=build-lightning.make
drupal.profile=lightning
db.url=mysql://username:password@host/db
site.name=Lightning
site.mail=test@example.com
account.name=admin
account.pass=admin
account.mail=test@example.com
sites.subdir=lightning.localhost
