//add font face to library
@font-face {
    font-family: 'LiberationSans';
    src: url('../font/LiberationSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LiberationSans';
    src: url('../font/LiberationSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'LiberationSans';
    src: url('../font/LiberationSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'LiberationSans';
    src: url('../font/LiberationSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

$body-font-family: "LiberationSans", "Helvetica", Helvetica, Arial, sans-serif !important;
 
//color overrides
$primary-color: #2398d9;
$primary-alt: tint( $primary-color, 25% );
$secondary-color: #666666;

//topbar

$topbar-height: 55px;