@import "compass/utilities/general/clearfix";
@import "compass/css3";

.media-library {
  .ui-dialog &.ui-dialog-content.ui-widget-content {
    padding: 0;
  }

  &.ui-tabs {
    .ui-tabs-nav {
      margin: .5em 0 0 0;
      padding: 0 0 0 .5em;

      .ui-state-active {
        border-radius: 12px 12px 0 0;
        background-color: #e5e5e5;
        border: none;
      }
    }

    .ui-tabs-panel {
      @include clearfix();
    }
  }

  .library {
    padding: 0;

    ul.collection-list {
      padding: 0;
      margin: 8px;
      list-style: none;
      @include display-flex();
      @include flex-wrap(wrap);
      overflow-x: hidden;
      overflow-y: scroll;
      max-height: 20em;

      li {
        overflow: hidden;
        width: calc(25% - 16px);
        border: 8px solid transparent;

        &.selected {
          border-color: greenyellow;
        }

        img {
          margin: 0 auto;
          display: block;
          height: 10em;
          width: auto;
        }
      }
    }
  }

  header, footer {
    background-color: #e5e5e5;
    padding: 1em;

    input, select {
      margin-right: .5em;
    }
  }

  .dropzone {
    padding: 0;

    .dz-preview {
      display: block;
      min-height: 0;
      width: 40%;
      margin: 0 auto;

      &:hover .dz-image img {
        @include transform(none);
        @include filter(none);
      }

      .dz-image {
        width: auto;
        height: auto;
        overflow: visible;

        img {
          max-width: 100%;
          height: auto;
        }
      }
    }
  }

  .embed-code {
    textarea {
      width: 100%;
      min-height: 4em;
      font-size: 150%;
    }
  }
}
