#panels-ipe-content [data-region-name] [data-droppable-region-name]:empty {
    min-height: 10em;
    background-color: #eee;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
}
